@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

a {
  text-decoration: none;
}

*{
  font-family: 'Rubik', sans-serif;
  margin: 0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition: all .1s linear;
}


  
html{
  font-size: 70%;
  overflow-x: hidden;
  scroll-padding-top:6rem;
  scroll-behavior: smooth;
}

.btns{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 10px;
  border:.2rem solid black;
  font-weight: bolder;
  font-size: 1.7rem;
  color:black;
  cursor: pointer;
  background:#fff;
  padding:.8rem 3rem;
  margin: 0 3%;
}

.btns:hover{
  background:rgb(3, 170, 212);
  color:#fff;
}

section{
  padding:2rem 9%;
}

